{% extends "base.html" %}

{% block title %}
Answer
{% endblock %}

{% block content %}

<div
    class="feedback-card
    {% if feedback.is_correct %}
        correct
    {% else %}
        wrong
    {% endif %}"
>

    {% if feedback.is_correct %}

        <h2>✅ Correct!</h2>

        <p>
            Bahut badhiya!
        </p>

    {% else %}

        <h2>❌ Wrong!</h2>

        <p>
            Sahi answer:
        </p>

        <strong>
            {{ feedback.correct_answer }}
        </strong>

    {% endif %}


    <p>
        Question {{ q_index }} / {{ total }}
    </p>


    <form method="POST">

        <button
            name="action"
            value="continue"
            class="next-btn"
        >
            Next Question →
        </button>

    </form>

</div>

{% endblock %}
