{% extends "base.html" %}

{% block title %}
Checkpoint
{% endblock %}

{% block content %}

<div class="checkpoint-card">

    <h2>
        🏁 Checkpoint
    </h2>

    <p>
        {{ q_index }} questions complete
    </p>

    <p class="score-text">
        Score: {{ score }} / {{ q_index }}
    </p>


    {% if feedback.is_correct %}

        <p>
            Last answer: ✅ Correct
        </p>

    {% else %}

        <p>
            Last answer: ❌ Wrong
        </p>

        <p>
            Correct:
            <strong>
                {{ feedback.correct_answer }}
            </strong>
        </p>

    {% endif %}


    <form method="POST">

        <button
            name="action"
            value="continue"
            class="next-btn"
        >
            Continue Test →
        </button>

    </form>

</div>

{% endblock %}
