{% extends "base.html" %}

{% block title %}
{{ category_label }}
{% endblock %}

{% block content %}

<div class="card">

    <h2>{{ category_label }}</h2>

    <p>
        Exam select karo.
    </p>

    {% if exams %}

    <div class="exam-grid">

        {% for exam_name, subjects in exams.items() %}

        <a
            class="exam-card"
            href="{{ url_for(
                'subjects',
                category=category,
                exam=exam_name
            ) }}"
        >

            📚 {{ exam_name }}

            <br><br>

            {{ subjects|length }} Subjects

        </a>

        {% endfor %}

    </div>

    {% else %}

        <p>
            Abhi exams available nahi hain.
        </p>

    {% endif %}

</div>

{% endblock %}
