{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="card">

    <h2>
        👋 Welcome, {{ username }}
    </h2>

    <p>
        Apni category select karo.
    </p>

</div>

<br>

<div class="category-grid">

    {% for key, label in categories.items() %}

    <a
        class="category-card"
        href="{{ url_for('exams', category=key) }}"
    >

        <div style="font-size:35px;">
            {% if key == "teaching" %}
                🎓
            {% elif key == "sports" %}
                🏆
            {% elif key == "music" %}
                🎵
            {% else %}
                🏃
            {% endif %}
        </div>

        {{ label }}

    </a>

    {% endfor %}

</div>

{% endblock %}
