{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="home-card">
    <h2>🎯 QuizApp</h2>

    <p>
        Welcome, {{ username }}
    </p>

    <p>
        Apna category select karein
    </p>
</div>


<div class="category-grid">

    {% for key, label in categories.items() %}

    <a
        href="{{ url_for('exams', category=key) }}"
        class="category-card {{ key }}"
    >

        <span class="cat-icon">

            {% if key == "teaching" %}
                🎓
            {% elif key == "sports" %}
                🏆
            {% elif key == "music" %}
                🎵
            {% elif key == "physical" %}
                🏃
            {% endif %}

        </span>

        <span>
            {{ label }}
        </span>

        <small>
            Exams →
        </small>

    </a>

    {% endfor %}

</div>

{% endblock %}
