{% extends "base.html" %}

{% block title %}
Notes
{% endblock %}

{% block content %}

<div class="card">

    <h2>📝 My Notes</h2>

    {% if error %}
        <p class="error">
            {{ error }}
        </p>
    {% endif %}

    <form
        method="POST"
        class="note-form"
    >

        <textarea
            name="text"
            rows="5"
            placeholder="Apni note yahan likho..."
            required
        ></textarea>

        <button type="submit">
            Save Note
        </button>

    </form>

</div>

<br>

{% for note in notes %}

<div class="note-item">

    <strong>
        {{ note.username }}
    </strong>

    <small>
        {{ note.created_at }}
    </small>

    <p>
        {{ note.text }}
    </p>

</div>

{% else %}

<div class="card">
    <p>Abhi koi notes nahi hain.</p>
</div>

{% endfor %}

{% endblock %}
