{% extends "base.html" %}

{% block title %}
Question {{ q_number }}
{% endblock %}

{% block content %}

<div class="quiz-card">

    <p class="progress">

        {{ category_label }}

        {% if exam %}
            <br>
            {{ exam }}
        {% endif %}

        {% if subject %}
            <br>
            {{ subject }}
        {% endif %}

        <br><br>

        Question {{ q_number }} / {{ total }}

    </p>


    <!-- TIMER -->

    <p class="timer">

        ⏱️ Time Left:

        <span id="timeLeft">
            {{ time_limit }}
        </span>

        seconds

    </p>


    <!-- QUESTION -->

    <h3>
        {{ question }}
    </h3>


    <!-- ANSWER FORM -->

    <form
        method="POST"
        id="quizForm"
    >

        {% for option in options %}

        <label class="option-label">

            <input
                type="radio"
                name="option"
                value="{{ option }}"
                required
            >

            {{ option }}

        </label>

        {% endfor %}


        <button
            type="submit"
            class="full-btn"
        >
            Submit Answer →
        </button>

    </form>

</div>


<script>

let timeLeft = {{ time_limit }};

const timerElement =
    document.getElementById("timeLeft");

const formElement =
    document.getElementById("quizForm");


const timer = setInterval(function () {

    timeLeft--;

    timerElement.textContent =
        timeLeft;


    if (timeLeft <= 0) {

        clearInterval(timer);

        /*
         * Timer khatam hone par
         * answer automatically submit hoga.
         *
         * form.submit() browser ki
         * required validation ko bypass karta hai,
         * isliye bina answer ke bhi next question
         * par ja sakta hai.
         */

        formElement.submit();

    }

}, 1000);

</script>

{% endblock %}
