{% extends "base.html" %}


{% block title %}

Question {{ q_number }}

{% endblock %}


{% block content %}


<div class="quiz-card">


    <div class="quiz-top">


        <div>

            <p class="eyebrow">
                {{ category_label }}
            </p>

            <p class="quiz-name">
                {{ exam }}
            </p>

        </div>


        <div class="question-counter">

            {{ q_number }} / {{ total }}

        </div>


    </div>


    <div class="progress-bar">

        <div
            class="progress-fill"
            style="width: {{ ((q_number / total) * 100)|round(0) }}%;"
        ></div>

    </div>


    <div class="timer-box">

        ⏱️ Time Left:

        <strong id="timeLeft">
            {{ time_limit }}
        </strong>

        seconds

    </div>


    <h2 class="question-text">

        {{ question }}

    </h2>


    <form
        method="POST"
        id="quizForm"
    >


        {% for option in options %}


        <label class="option-label">


            <input
                type="radio"
                name="option"
                value="{{ option }}"
                required
            >


            <span>
                {{ option }}
            </span>


        </label>


        {% endfor %}


        <button
            type="submit"
            class="btn full-btn"
        >

            Submit Answer →

        </button>


    </form>


</div>


<script>

let timeLeft = {{ time_limit }};

const timerElement =
    document.getElementById("timeLeft");

const formElement =
    document.getElementById("quizForm");


const timer = setInterval(
    function () {

        timeLeft--;

        timerElement.textContent =
            timeLeft;


        if (timeLeft <= 0) {

            clearInterval(timer);

            /*
             * Timer khatam hone par
             * bina answer ke submit.
             *
             * Required radio ki wajah se
             * browser submit block kar sakta hai,
             * isliye required remove kar rahe hain.
             */

            const radios =
                formElement.querySelectorAll(
                    'input[name="option"]'
                );

            radios.forEach(
                function (radio) {
                    radio.required = false;
                }
            );

            formElement.submit();

        }

    },
    1000
);

</script>


{% endblock %}
