{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="auth-card">

    <h2>📝 Register</h2>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST">

        <input
            type="text"
            name="username"
            placeholder="Username"
            required
            autocomplete="username"
        >

        <input
            type="email"
            name="email"
            placeholder="Email Address"
            required
            autocomplete="email"
        >

        <input
            type="tel"
            name="mobile"
            placeholder="Mobile Number"
            required
            inputmode="numeric"
            pattern="[0-9]{10}"
            maxlength="10"
            minlength="10"
            autocomplete="tel"
        >

        <input
            type="password"
            name="password"
            placeholder="Password"
            required
            autocomplete="new-password"
        >

        <button
            class="full-btn"
            type="submit"
        >
            Create Account
        </button>

    </form>

    <p>
        Already account hai?
        <a href="{{ url_for('login') }}">
            Login
        </a>
    </p>

</div>

{% endblock %}
