{% extends "base.html" %}

{% block title %}
{{ category_label }}
{% endblock %}

{% block content %}

<div class="card">

    <p>
        {{ category_label }}
    </p>

    {% if error %}
        <p class="error">
            {{ error }}
        </p>
    {% endif %}

    <div class="subject-grid">

        {% for subject, questions in subjects.items() %}

        <div class="subject-card">

            <h3>
                {{ subject }}
            </h3>

            <p>
                Questions Available
            </p>

            <a
                class="btn full-btn"
                href="{{ url_for(
                    'start_test',
                    category=category,
                    exam=exam,
                    subject=subject
                ) }}"
            >
                🚀 Start Quiz
            </a>

        </div>

        {% endfor %}

    </div>

    <br>

    <a href="{{ url_for('exams', category=category) }}">
        ← Back to Exams
    </a>

</div>

{% endblock %}
