{% extends "base.html" %}

{% block title %}
Subjects
{% endblock %}

{% block content %}

<div class="card">

    <h2>{{ category_label }}</h2>

    <h3>{{ exam }}</h3>

    {% if error %}
        <p class="error">
            {{ error }}
        </p>
    {% endif %}

    <div class="subject-grid">

        {% for subject, questions in subjects.items() %}

        <a
            class="subject-card"
            href="{{ url_for(
                'start_test',
                category=category,
                exam=exam,
                subject=subject
            ) }}"
        >

            📖 {{ subject }}

            <br><br>

            <strong>
                {{ questions|length }} Questions Available
            </strong>

        </a>

        {% endfor %}

    </div>

</div>

{% endblock %}
